{{ $root := .root }}{{ $page := .page }}{{ $pipe := .pipe }}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rizin Notebook</title>
    <link rel="stylesheet" href="{{ $root }}static/spectre-icons.min.css">
    <link rel="stylesheet" href="{{ $root }}static/spectre.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
      @font-face { font-family: 'Inconsolata'; src: URL('{{ .root }}static/inconsolata.ttf') format('truetype'); }
      .spacing-top { margin: 3px 0px 0px 0px !important; }
      .spacing-left { margin: 0px 3px 0px 0px !important; }
      .align-center { text-align: center; }
      .navbar-fixed-height { height: 32px; }
      .icon-height { height: 20px; }
      .title-margin { margin-top: auto; margin-bottom: auto; margin-right: 10px; }
      .md-heigh { height: 64px; }
      .pipe { color: #e85600; border-color: #e85600; }
      .pipe:hover { background: #e85600; border-color: #e85600; }
      iframe { border: 0px; width: 100%; height: 100% }
      .resizer { display: flex; margin: 0; padding: 0; resize: vertical; overflow: hidden }
      .resizer > .resized { flex-grow: 1; margin: 0; padding: 0; border: 0 }
      .syntax-menu { right: 35px; }
      .align-right { text-align: right; }
      textarea {
        margin: 5px;
        font-family: Inconsolata;
        background-color: inherit;
        color: inherit;
        line-height: 8px;
        resize: none;
      }
      .button-help { width: 32px; float: left; }
      .command-input { margin: 0px 0px 0px 36px; display: flex; width: calc(100% - 36px); min-width: 0; }
      .modal-box { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); }
      .modal-search { width: 80%; height: 80%; margin: 10px; }
      .modal-results { width: 100%; max-height: 500px; position: initial; overflow-y: scroll; overflow-x: hidden; }
      .modal-results li { -webkit-user-select: text !important; -ms-user-select: text !important; user-select: text !important; }
      .modal-name-big { font-size: 20px; }
      .modal-name { color: #1447e6; font-weight: bold; font-family: Inconsolata; }
      .modal-args { color: #178236; font-style: italic; font-family: Inconsolata; }
      .modal-detail { width: 100%; margin: 10px 0px 0px 0px; }
      .modal-entry { width: 100%; margin: 0px 0px 0px 20px; list-style: none; }
      .modal-entry-text { min-width: 200px; display: inline-block; }
      .modal-searchbar { width: calc(100% - 36px); }
      .modal-close { float: right; width: 32px; }
    </style>
    <script>
      function handle(obj) {
        obj.style.height = (obj.contentWindow.document.documentElement.scrollHeight + 20) + 'px';
        if (obj.contentWindow.location.href.indexOf("/deleted") > 0) {
          obj.parentNode.parentNode.removeChild(obj.parentNode);
        }
        window.scrollTo(0, document.body.scrollHeight);
      }
      function output(obj) {
        obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
        if (obj.contentWindow.location.href.indexOf("/deleted") > 0) {
          obj.parentNode.parentNode.removeChild(obj.parentNode);
        } else if (obj.contentWindow.location.href.indexOf("/loaded") > 0) {
          location.reload()
        }
        window.scrollTo(0, document.body.scrollHeight);
      }
      function newmd() {
        var body = document.getElementById("page-body");
        var div = document.createElement("div");
        var iframe = document.createElement("iframe");

        div.className = "panel spacing-top resizer";
        iframe.className = "panel-body no-borders";
        iframe.setAttribute("frameborder", "0");
        iframe.setAttribute("marginheight", "0");
        iframe.setAttribute("marginwidth", "0");
        iframe.setAttribute("width", "100%");
        iframe.setAttribute("height", "100%");
        iframe.setAttribute("scrolling", "no");
        iframe.setAttribute("onload", "handle(this)");
        iframe.src = "{{ $root }}markdown/new/{{ $page.unique }}";
        div.appendChild(iframe);
        body.insertBefore(div, body.childNodes[body.childNodes.length - 2]);
      }
      function newsc() {
        var body = document.getElementById("page-body");
        var div = document.createElement("div");
        var iframe = document.createElement("iframe");

        div.className = "panel spacing-top";
        iframe.className = "panel-body no-borders";
        iframe.style.height = "300px";
        iframe.setAttribute("frameborder", "0");
        iframe.setAttribute("marginheight", "0");
        iframe.setAttribute("marginwidth", "0");
        iframe.setAttribute("width", "100%");
        iframe.setAttribute("height", "110%");
        iframe.setAttribute("scrolling", "no");
        iframe.setAttribute("onload", "output(this)");
        iframe.src = "{{ $root }}output/input/script/{{ $page.unique }}";
        div.appendChild(iframe);
        body.insertBefore(div, body.childNodes[body.childNodes.length - 2]);
      }
      function newcm() {
        var body = document.getElementById("page-body");
        var div = document.createElement("div");
        var iframe = document.createElement("iframe");

        div.className = "panel spacing-top";
        iframe.className = "panel-body no-borders";
        iframe.setAttribute("frameborder", "0");
        iframe.setAttribute("marginheight", "0");
        iframe.setAttribute("marginwidth", "0");
        iframe.setAttribute("width", "100%");
        iframe.setAttribute("height", "100%");
        iframe.setAttribute("scrolling", "no");
        iframe.setAttribute("onload", "output(this)");
        iframe.src = "{{ $root }}output/input/console/{{ $page.unique }}";
        div.appendChild(iframe);
        body.insertBefore(div, body.childNodes[body.childNodes.length - 2]);
      }
      function confirm_delete(event) {
        if (!window.confirm("Are you sure you want to delete the section?")) {
          event.preventDefault();
        }
      }
{{ if $pipe }}
      var rizinCmds = JSON.parse({{ .cmds | stringify }});
      var rizinCmdsList = Object.keys(rizinCmds);
      function openCmdHelp() {
        var modal = document.getElementById("command-help");
        modal.className += " active";
        var search = document.getElementById("search-focus");
        search.focus();
      }
      function closeCmdHelp() {
        var modal = document.getElementById("command-help");
        modal.className = modal.className.replace(" active", "");
      }
      function cmdAsText(parent, command) {
        var details = (command.details || []);
        var element = document.createElement('span');
        element.className = "modal-name modal-name-big";
        element.textContent = command.cmd;
        parent.appendChild(element);

        element = document.createElement('span');
        element.className = "modal-args modal-name-big";
        element.textContent = " " + command.args_str;
        parent.appendChild(element);

        if ((command.summary || "") != "") {
          element = document.createElement('div');
          element.textContent = command.summary.replace(".", ".\n");
          parent.appendChild(element);
        }
        if ((command.description || "") != "") {
          element = document.createElement('div');
          element.textContent = command.description.replace(".", ".\n");
          parent.appendChild(element);
        }
        for (var i = 0; i < details.length; i++) {
          var entries = (details[i].entries || []);
          var detail = document.createElement('ul');
          detail.className = "modal-detail";
          detail.textContent = details[i].name;
          parent.appendChild(detail);
          for (var i = 0; i < entries.length; i++) {
            var entry = document.createElement('li');
            entry.className = "modal-entry";
            detail.appendChild(entry);

            var text = document.createElement('span');
            text.className = "modal-entry-text";
            entry.appendChild(text);

            if ((entries[i].text || "").length > 0) {
              element = document.createElement('span');
              element.className = "modal-name";
              element.textContent = entries[i].text;
              text.appendChild(element);
            }

            if ((entries[i].arg_str || "").length > 0) {
              element = document.createElement('span');
              element.className = "modal-args";
              element.textContent = entries[i].arg_str;
              text.appendChild(element);
            }

            if ((entries[i].comment || "").length > 0) {
              element = document.createElement('span');
              element.style.display = "inline-block";
              element.textContent = " # " + entries[i].comment;
              entry.appendChild(element);
            }
          }
        }
      }
      function findCmd(element) {
        var dropdown = document.getElementById("dropdown-results");
        var results = document.getElementById("search-results");
        results.innerHTML = "";
        var tokens = element.value.split(/\s+/);
        for (var i = 0, count = 0; i < rizinCmdsList.length; i++) {
          var key = rizinCmdsList[i];
          var descr = rizinCmds[key].description || "";
          var summr = rizinCmds[key].summary || "";
          var found = true;
          for (var j = 0; j < tokens.length; j++) {
            if (key.indexOf(tokens[j]) < 0 && descr.indexOf(tokens[j]) < 0 && summr.indexOf(tokens[j]) < 0) {
              found = false;
              break;
            }
          }
          if (!found) {
            continue;
          }
          var li = document.createElement('li');
          if (count > 0) {
            li.className = "divider";
            results.appendChild(li);
            li = document.createElement('li');
          }
          li.className = "menu-item";
          cmdAsText(li, rizinCmds[key]);
          results.appendChild(li);
          count++;
        }
        if (dropdown.className.indexOf(" active") < 0) {
          dropdown.className += " active";
        }
      }
{{ end }}
    </script>
  </head>
<body>
  <section class="container grid-960 mt-10">
    <header class="navbar navbar-fixed-height">
      <section class="navbar-section">
        <img src="{{ $root }}static/logo.png" width="30" height="30" />&nbsp;
        <a href="{{ $root }}" class="navbar-brand mr-10">Rizin Notebook</a>
      </section>
      <section class="navbar-section">
        <h4 class="title-margin">{{ $page.title }}</h4>
        &nbsp;
        <a href="{{ $root }}pipe/{{ if $pipe }}close{{ else }}open{{ end }}/{{ $page.unique }}" class="btn{{ if $pipe }} pipe{{ end }}">
          {{ if $pipe }}Close Pipe{{ else }}Open Pipe{{ end }}
        </a>
        &nbsp;
        <a href="{{ $root }}" class="btn btn-primary">Go Back</a>
      </section>
    </header>
    <section class="container">
      <div class="columns">
        <div class="column">
          <div class="input-group spacing-top">
            <code class="input-group-addon spacing-right">File: {{ $page.filename }}</code>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="container mt-10">
    <section class="container">
      <div class="columns">
        <div class="column" style="padding-top: 0px" id="page-body">
{{ range $i, $line := $page.lines }}
{{ if eq $line.type "markdown" }}
          <div class="panel spacing-top resizer">
            <iframe frameborder="0" marginheight="0" marginwidth="0" width="100%" height="100%" scrolling="no" onload="handle(this)" onunload="handle(this)" class="panel-body no-borders md-heigh" src="{{ $root }}markdown/view/{{ $page.unique }}/{{ $line.unique }}"></iframe>
          </div>
{{ else }}
          <div class="input-group spacing-top">
{{ if eq $line.type "script" }}
            <code style="display: block; white-space: pre-wrap;" class="input-group-addon spacing-right spacing-left">{{ $line.script }}</code>
{{ else }}
            <code class="input-group-addon spacing-right spacing-left">{{ $line.command }}</code>
{{ end }}
            <a class="btn float-right" href="{{ $root }}output/delete/{{ $page.unique }}/{{ $line.unique }}" onclick="confirm_delete(event)">
              <i class="icon icon-delete icon-height">Delete</i>
            </a>
          </div>
          <div class="input-group spacing-top">
            <iframe id="output-{{ $i }}" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="100%" scrolling="no" onload="handle(this)" class="input-group-addon spacing-left md-heigh" src="{{ $root }}output/view/{{ $page.unique }}/{{ $line.unique }}"></iframe>
          </div>
{{ end }}
{{ end }}
          <div class="input-group spacing-top" style="margin-top: 10px;">
            <a class="btn" href="#" onclick="newmd()"><i class="icon icon-message">Markdown</i> Markdown</a>
            &nbsp;
            <a class="btn" href="#" onclick="newsc()"><i class="icon icon-share">Script</i> Script</a>
{{ if $pipe }}
            &nbsp;
            <a class="btn" href="#" onclick="newcm()"><i class="icon icon-resize-horiz">Command Line</i> Command Line</a>
            &nbsp;
            <a class="btn" href="#" onclick="openCmdHelp()"><i class="icon icon-search">Help</i> Help</a>
{{ end }}
          </div>
        </div>
      </div>
{{ if $pipe }}
      <div id="command-help" class="modal modal-box">
        <div class="modal-content modal-search" onclick="" style="z-index: 999999;">
          <div class="modal-body">
            <div class="content">
              <div class="dropdown" id="dropdown-results" style="width: 100%; height: 100%; max-height: 500px;">
                <button class="btn btn-primary modal-close" onclick="closeCmdHelp()">&times;</button>
                <input class="form-input modal-searchbar" id="search-focus" onchange="findCmd(this);" onkeypress="findCmd(this);" onpaste="findCmd(this);" oninput="findCmd(this);" value="" placeholder="Search for a command or keyword in a description"/>
                <ul class="modal-results menu active" id="search-results"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
{{ end }}
    </section>
  </section>
</body>
</html>